div.error_message {
    margin-bottom: 10px;
    clear: left;
    padding-top: 5px;
    color: red;
}

div.button {
    float:left;
    width: 100%
}

input.button {
    color: #404040;
    font: 85%, helvetica;
    font-weight: bold;
}

div.section {
    float:left;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    background-color: darkblue;
    color: white;
    width: 100%
}

div.subsection {
    float:left;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    width: 100%
}